/* ----------------------------------------------- Global ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Concert One', cursive;
    background-color: #ECE6C2;
    box-sizing: content-box;
}

.container {
    margin: auto;
    width: 75vw;
}

/* ----------------------------------------------- Header and Footer ----------------------------------------------- */

h1 {
    height: 6.25rem;
    margin-top: 2rem;
    color: #6F5643;
    font-size: 5.8em;
    font-weight: 400;
    text-shadow: 5px 5px #73BDA8;
}

h2 {
    margin-bottom: 1rem;
    color: #6F5643;
    font-size: 2em;
    font-weight: 400;
}

.main-seperation-hr {
    height: 8px;
    background-color: #6F5643;
    border: none;
    border-radius: 10px;
}

.footer-content {
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
}

.my-details {
    padding: 1rem 0.5rem;
    font-size: 1.125rem;
    color: #6F5643;
}

.my-socials {
    padding: 1.5rem;
    min-width: 14rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.my-socials>a:hover {
    scale: 1.1;
    transition: all ease-in-out 0.1s;
}

.my-socials-icon {
    height: 40px;
}

/* ----------------------------------------------- Add note section. ----------------------------------------------- */

.add-note-division {
    margin: 2rem auto;
    max-width: 47.5rem;
}

.add-note {
    margin: auto;
    height: 200px;
    width: 166px;
    background-color: #E4C786;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: all ease-in-out 0.5s;
}

.add-note-button {
    width: 7rem;
    aspect-ratio: 1;
    background-color: #EDE7C3;
    border: 2px solid #A27E62;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 15%;
    z-index: 2;
    transition: all ease-in-out 0.5s, scale ease-in-out 0.15s;
}

.add-note-button:hover {
    scale: 1.1;
}

.plus {
    width: 85%;
    height: 5px;
    background-color: #6F5643;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 48%;
    left: 7.5%;
}

.plus-line2 {
    transform: rotate(90deg);
}

.add-note-input {
    margin: auto;
    width: 60%;
    color: #6F5643;
    transform: translateY(-200px);
    transition: all cubic-bezier(0.75, -0.34, 0.37, 1.38) 0.7s;
}

.input-row1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-text {
    padding: 0 5px;
    width: 75%;
    height: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    border: #ffc599;
    border-radius: 5px;
}

.body-text {
    margin-top: 5px;
    padding: 5px;
    height: 90px;
    width: 100%;
    resize: none;
    font-family: 'Noto Sans', sans-serif;
    border: #ffc599;
    border-radius: 5px;
}

.add-note-text {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    color: #6F5643;
    position: absolute;
    bottom: 13%;
    transition: all cubic-bezier(0.75, -0.34, 0.37, 1.38) 0.7s;
}

.save-note-button {
    width: 80px;
    aspect-ratio: 1;
    background-color: #EDE7C3;
    border: 2px solid #A27E62;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    right: 25%;
    transition: all ease-in-out 0.5s, scale ease-in-out 0.15s;
}

.save-note-button:hover {
    scale: 1.1;

    .save-note-image {
        filter: drop-shadow(0 0 5px #1ac192);
    }
}

.save-note-image {
    height: 50px;
    position: absolute;
    top: 19%;
    left: 8%;
}

/* ----------------------------------------------- When clicked on add note button ----------------------------------------------- */

.add-note-active {
    width: 100%;
    border-radius: 200px;
    transition: all ease-in-out 0.5s;

    .add-note-text {
        transform: translateY(100px);
    }

    .add-note-input {
        transform: translateY(40px);
    }
}

.cancel-button {
    width: 80px;
    position: absolute;
    top: 28%;
    left: 25px;
    transform: rotate(-45deg);
}

.toggle-cross {
    height: 7px;
    background-color: #FF212B;
    top: 46%;
}

.cancel-button:hover {
    .plus {
        box-shadow: 0 0 5px red;
    }
}

.save-note-button-active {
    position: absolute;
    top: 28%;
    right: 25px;
}

/* ----------------------------------------------- Display note section. ----------------------------------------------- */

.display-note {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-content: center;
    justify-content: space-evenly;
    justify-items: center;
}

.note {
    height: 200px;
    width: 166px;
    font-family: 'Noto Sans', sans-serif;
    background-color: #EAC951;
    color: #6F5643;
    border-radius: 10px;
    box-shadow: 3px 3px #957234;
    position: relative;
}

.delete-note {
    width: 35px;
    height: 35px;
    background: none;
    border: none;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: -1;
}

.note:hover {
    .delete-note {
        z-index: 2;
    }
}

.delete-note-png {
    width: 35px;
}

.delete-note-png:hover {
    filter: drop-shadow(0 0 5px #FF212B);
}

.note-container {
    margin: auto;
    width: 80%;
}

.note-title {
    padding-top: 0.75rem;
    height: 3.125rem;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
}

.note-hr {
    margin: 0.5rem 0;
    height: 2px;
    background-color: #000;
    border: none;
    border-radius: 2px;
}

.note-content {
    height: 6.75rem;
    font-size: 13px;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: scroll;
}

.note-dateAndTime {
    font-size: 11px;
    color: #FFF;
    position: absolute;
    bottom: 5px;
    right: 10px;
}

/* ----------------------------------------------- Body Scrollbar ----------------------------------------------- */

.scrollbar::-webkit-scrollbar {
    width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #6f56437f;
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #6f5643cc;
}

/* ----------------------------------------------- Media query ------------------------------------------------- */

@media (max-width: 750px) {
    .container {
        width: 100vw;
    }

    /* Header and Footer */

    h1 {
        margin: 5vw 0 0 3vw;
        height: 14vw;
        font-size: 13vw;
    }

    h2 {
        margin-left: 3vw;
        font-size: 4.5vw;
    }

    .footer-content {
        margin-bottom: 2rem;
        flex-direction: column;
    }

    .my-details {
        font-size: 4vw;
    }

    .my-socials {
        justify-content: center;
    }

    .my-socials-icon {
        margin: 0 1rem;
    }

    /* Add note section */

    .save-note-button,
    .cancel-note-button {
        height: 2rem;
        width: 6rem;
        border: none;
        border-radius: 10px;
        font-size: 1.125rem;
        font-weight: 600;
        color: white;
        position: absolute;
        top: 120%;
    }

    .add-note-input {
        width: 80%;
    }

    .title-text {
        width: 100%;
    }

    .cancel-note-button {
        background-color: #FF212B;
        left: 10%;
        transition: all ease-in-out 0.5s, scale ease-in-out 0.15s;
    }

    .cancel-note-button:hover {
        scale: 1.1;
    }

    .save-note-button {
        background-color: #1ac192;
        right: 10%;
    }

    /* When clicked on add note button */

    .add-note-active {
        margin: auto;
        width: 90%;
        border-radius: 1rem;

        .cancel-note-button,
        .save-note-button {
            top: 75%;
        }

        .add-note-input {
            transform: translateY(20px);
        }
    }

    .cancel-button {
        position: absolute;
        top: 120%;
        left: 50%;
    }

    /* Display note section */

    .display-note {
        padding: 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .note {
        width: 100%;
        height: 150px;
        border-radius: 1rem;
    }

    .note-container {
        width: 90%;
    }
}

/* 
font-family: 'Concert One', cursive;
font-family: 'Noto Sans', sans-serif;
*/